@charset "utf-8";
/* CSS Document */

/*color variables*/
:root {
  --white: #fdfdfd;
  --black: #252831;
  --dkgray: #333;
  --ltgray: #eee;
  --purple: #600060;
  --green: #08ff08;
}

html,
body {
  height: 100%;
  width: 100%;
  }

body,
td,
th,
p {
  font: 16pt/1.3 trebuchet, arial, san-serif;
  color: var(--dkgray);
}

body {
  background-color: var(--ltgray);
  margin: 0;
  padding: 0;
  position: relative;
}

ul,
li {
	font-size: 10pt;
	color: var(--dkgray);
}

a {
	color: var(--purple);
	text-decoration: none;
}

a:hover,
a:focus {
	text-shadow: 1px 1px 5px var(--ltgray);
}

a img{
	border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

header {
  background-color: var(--black);
  text-align:center;
}

header h1 {
  margin: auto;
  padding: 25px;
}

header h1 a {
  color: var(--white);
  font-size: 22pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#maincontent {
  background-color: var(--ltgray);
}

#footer {
  background-color: var(--dkgray);
  color: var(--white);
  font-size: 12pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#footer a {
  color: var(--white);
}


/* ====================== Navigation ====================== */
nav {
  padding: 5px;
  background-color: var(--ltgray);
}

#breadcrumb ul {
  list-style: none;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: var(--black);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: var(--purple);
  text-decoration: none;
}


/* ====================== Map ====================== */
#map {
  height: 400px;
  background-color: var(--ltgray);
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: var(--black);
  align-items: center;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.filter-options select {
  background-color: var(--white);
  border: 1px solid #fff;
  font-size: 14pt;
  height: 35px;
  letter-spacing: 0;
  margin: 5px;
  padding: 0 10px;
  width: 180px;
}


/* ====================== Restaurants List ====================== */
#restaurants-list {
  background-color: var(--ltgray);
  list-style: outside none none;
  margin: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#restaurants-list li {
  background-color: #fff;
  border-radius: 25px 0;
  margin: 15px;
  min-height: 380px;
  text-align: left;
  width: 270px;
  display: inline;
}

@media only screen and (max-width: 555) {
  #restaurants-list li {
    max-width: 100%;
  }
}

@media only screen and (max-width: 830) {
  #restaurants-list li {
    max-width: 40%;
  }
}

@media only screen and (min-width: 831) {
  #restaurants-list li {
    max-width: 270px;
  }
}

#restaurants-list .restaurant-img {
  background-color: var(--ltgray);
  display: block;
  margin: 0;
  max-width: 100%;
  border-radius: 25px 0 0 0;
}

#restaurants-list li h3 {
  color: var(--purple);
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  padding-left: 20px;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
  padding-left: 20px;
}

#restaurants-list button {
  background-color: var(--purple);
  margin: 20px;
  padding: 10px;
  border-radius: 8px 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 12pt;
}


/* ====================== Restaurant Details ====================== */
#restaurant-name {
  color: var(--purple);
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 80%;
  border-radius: 15px 0 0 0;
}

.restaurant-map {
  max-height: 150px;
}

#restaurant-cuisine {
  background-color: var(--dkgray);
  color: var(--white);
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-address {
  font-size: 16pt;
  margin: 10px 0;
  text-align: center;
}

#restaurant-hours {
  display: block;
  width: 100%;
}

#restaurant-hours td {
  font-size: 12pt;
  margin: 10px 0;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid var(--ltgray);
  border-top: 1px solid var(--white);
  padding: 20px;
  text-align: center;
}

#reviews-container h2 {
  color: var(--purple);
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: outside none none;
}

#reviews-list li {
  background-color: var(--white);
  border: 2px solid var(--ltgray);
  border-radius: 25px 0;
  display: inline;
  margin: 15px;
  overflow: hidden;
  text-align: left;
  min-width: 270px;
  max-width: 300px;
}

@media only screen and (max-width: 555) {
  #reviews-list li {
    max-width: 100%;
  }
}

@media only screen and (max-width: 830) {
  #reviews-list li {
    max-width: 40%;
  }
}

@media only screen and (min-width: 831) {
  #reviews-list li {
    max-width: 270px;
  }
}

#reviews-list li h5 {
  padding: 20px 20px 20px 20px;
  background-color: var(--dkgray);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 1px;
  width: 100%;
}

#reviews-list span {
  color: var(--ltgray);
  padding-right: 30px;
}

#reviews-list li h6 {
  margin: 20px;
  display: inline;
  background-color: var(--purple);
  padding: 5px;
  text-transform: uppercase;
  font-size: 10pt;
  letter-spacing: 1px;
  border-radius: 5px 0;
  color: var(--white);
  width: 100%;
}

#reviews-list li p {
  margin: 20px;
  width: 90%;
  font-size: 12pt;
}